doctype html
html
    head
        title
            block title

        //link(rel='stylesheet', href='vendor/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='templates/layouts/styles.css')

        //script(src="vendor/bower_components/jquery/dist/jquery.js")
        //script(src="vendor/bower_components/bootstrap/dist/js/bootstrap.js")
    body
        header
            block header

        section(class="container")
            h1
                block title

        footer
            block footer

        script(src="public/vendor/s.js")