doctype html
html
    head
        title
            block title

        link(rel='stylesheet', href='public/vendor/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='public/css/app.css')

        script(src="public/vendor/bower_components/jquery/dist/jquery.js")
        script(src="public/vendor/bower_components/bootstrap/dist/js/bootstrap.js")
    body
        header
            block header

        section(class="container")
            h1
                block title
            div(class="content")
                block content

        footer
            block footer