extends /layouts/page.jade

block title
    |Chat

block content
    |Hello,
    -if(user)
        !=" " + user.get("username")
    div(id="room")
        ul
        form
            input(name="input" class="form-control" autocomplete="off" autofocus placeholder="Message")
    div(id="status")
        ul

block script
    script(src='public/js/clientLogout.js')
    script(src='public/js/clientChat.js')